In [16]:
import pandas as pd

df = pd.read_csv('MegaDepth1500_summary.csv')
df.head(20)

,Matcher,AUC@5,AUC@10,AUC@20,Min Time,Max Time,Avg Time
0,aliked-lightglue,60.79,74.63,84.38,50.82,337.08,72.68
1,edm,65.81,78.51,87.19,30.89,251.68,42.36
2,eloftr,66.05,78.99,87.79,82.69,290.17,108.78
3,gim-lightglue,52.36,68.49,80.90,86.22,289.67,92.88
4,liftfeat,35.97,50.08,62.72,24.77,227.45,31.80
5,lisrd,2.85,7.56,16.57,73.98,277.63,90.91
6,lisrd-aliked,1.89,5.13,11.94,71.65,343.63,99.03
7,lisrd-superpoint,2.85,7.56,16.57,67.07,266.71,90.39
8,loftr,40.52,55.55,69.03,145.27,383.27,205.90
9,orb-nn,7.15,14.25,24.13,12.05,133.06,20.80
10,se2loftr,62.55,75.82,85.12,147.12,378.88,202.63
11,sift-nn,42.94,56.90,68.35,61.57,187.58,84.84
12,superglue,49.77,66.35,79.12,34.84,311.56,72.43
13,superpoint-lightglue,54.67,70.20,81.74,46.34,254.30,64.97
14,superpoint-lightglue-subpx,56.36,71.88,82.75,36.11,265.76,56.71
15,xfeat,34.17,49.10,62.35,6.09,246.04,7.87
16,xfeat-lightglue,45.91,62.09,75.15,11.45,308.45,14.23
17,xfeat-lightglue-subpx,51.24,66.38,78.22,16.02,348.90,40.72
18,xfeat-star,31.76,48.21,63.49,9.07,234.77,11.47
19,xfeat-subpx,40.63,54.45,65.81,19.74,307.09,38.16

In [17]:
import pandas as pd

# 1. Load Data
df = pd.read_csv('MegaDepth1500_summary.csv')

# 2. Tentukan kolom score (Select semua kolom KECUALI Matcher dan Time)
#    Kita mengecualikan 'Matcher', 'Time Min', 'Time Max', dan 'Time Avg'
cols_to_exclude = ['Matcher', 'Min Time', 'Max Time', 'Avg Time']
score_cols = [c for c in df.columns if c not in cols_to_exclude]

# 3. Hitung rata-rata score per baris (per matcher)
df['Avg Score'] = df[score_cols].mean(axis=1)

# 4. Ambil Top 10 berdasarkan Time Avg terendah
top10_speed_score = df.nsmallest(20, 'Avg Time')

# 5. Tampilkan hasilnya
#    Format float agar rapi (2 desimal)
pd.options.display.float_format = '{:,.2f}'.format

print("="*50)
print("Top 20 Time Avg (Lowest) with Overall Avg Score MegaDepth1500")
print("="*50)
print(top10_speed_score[['Matcher', 'Avg Time', 'Avg Score']].to_string(index=False))

==================================================
Top 20 Time Avg (Lowest) with Overall Avg Score MegaDepth1500
==================================================
                   Matcher  Avg Time  Avg Score
                     xfeat      7.87      48.54
                xfeat-star     11.47      47.82
           xfeat-lightglue     14.23      61.05
                    orb-nn     20.80      15.18
                  liftfeat     31.80      49.59
               xfeat-subpx     38.16      53.63
     xfeat-lightglue-subpx     40.72      65.28
                       edm     42.36      77.17
superpoint-lightglue-subpx     56.71      70.33
      superpoint-lightglue     64.97      68.87
                 superglue     72.43      65.08
          aliked-lightglue     72.68      73.27
                   sift-nn     84.84      56.06
          lisrd-superpoint     90.39       8.99
                     lisrd     90.91       8.99
             gim-lightglue     92.88      67.25
              lisrd-aliked     99.03       6.32
                    eloftr    108.78      77.61
                  se2loftr    202.63      74.50
                     loftr    205.90      55.03